:root {
    --darker-color: #0b090a;
    --dark-gray: #161a1d;
    --red-wine: #660708;
    --darker-red: #a4161a;
    --middle-red: #ba181b;
    --lighter-red: #e5383b;
    --middle-gray: #B1A7A6;
    --silver:#D3D3D3;
    --lighter-gray: #F5F3F4;
    /* FUENTES */
    --allura: "Allura", cursive;
    --londrina: "Londrina Shadow", sans-serif;
    --quicksand: "Quicksand", sans-serif;
    --monserrat: "Montserrat", sans-serif;
    --rubick-scribble: "Rubik Scribble", system-ui;

}
@font-face {
    font-family: 'Nordica-Classic-Light-Extended-Outline';
    src:url('Nordica-Classic-Light-Extended-Outline.ttf.woff') format('woff'),
        url('Nordica-Classic-Light-Extended-Outline.ttf.svg#Nordica-Classic-Light-Extended-Outline') format('svg'),
        url('Nordica-Classic-Light-Extended-Outline.ttf.eot'),
        url('Nordica-Classic-Light-Extended-Outline.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}
/* HEADER NAVBAR NAME  */
header {
    background-color: var(--dark-gray);
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}
.name {
    color: #Fff;
    margin: auto 0 auto 5vw;
    font: italic bolder 3rem "Schibsted Grotesk", sans-serif;;
}

#welcome-section {
    margin: 0;
    padding: 0;
    height: 110vh;
    width: 100vw;
    background: linear-gradient(var(--dark-gray) 95%, var(--silver))

}
#navbar {
    margin: auto 5vw;
}
.section {
    position: relative;
    margin: auto 18px;
    text-decoration: none;
    color: #fff;
    font: normal 500 1.15rem var(--quicksand);
   
}
.section.line::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 0;
    transition: width 0.3s ease;
    background-color: var(--middle-red);
    z-index: -1;
    
}
.section.line:hover::before {
    width: 100%;
    
}
.section:last-child {
    background-color: var(--red-wine);
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    position: relative;
}
.section:last-child:hover {
    background-color: var(--middle-red);

}

/* SALUDO CONTACTO */

h1 {
    position: absolute;
    color: #fff;
    font: bolder italic 2.9rem var(--monserrat);
    top: 250px;
    
}
.small {
    font-size: 1rem;
    font-family: var(--quicksand);
    font-weight: 500;
    font-style: normal;
}
.hello {
    font: 600 normal 1.8rem var(--quicksand);
    letter-spacing: 2px;
    color: #fff;
    position: absolute;
    top: 110px;
    white-space: pre-line;
}   
.big {
    text-transform: uppercase;
    font: bolder italic 6rem var(--monserrat);
    letter-spacing: 0.5px;
    color: var(--lighter-red);
}

.contacto {
    height: 70px;
    width: 350px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 390px;
    left: 40px;
}

.empezar, .acerca {
    background-color: var(--lighter-red);
    height: 100%;
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 600 normal 1.1rem var(--quicksand);
    border-radius: 5px;
    transition: all 0.4s ease;
}
.empezar:hover, .acerca:hover {
    transform: translateY(-10px);
}

.acerca {
    background-color: var(--dark-gray);
    z-index: 3;
}

.info {
    padding: 0;
    z-index: 1;
    height: 650px;
    width: 100vw;
    top: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 50vh;
}
.saludo {
    width: 500px;
    position: relative;
    margin-left: 5vw;
}
.visual {
    width: 760px;
    position: relative;
    margin-right: 8vw;

}
/* CUADROS Y FOTO */

.deco {
    background-color: var(--lighter-red);
}
.square {
    background: linear-gradient(transparent 0%, var(--lighter-red) );
    height: 150px;
    width: 150px;
    position: absolute;
    top: 450px;
    left: 140px;
    z-index: 2;
}
@media (max-width: 1500px) {
    .square {
        left: 110px;
    }
   
}
@media (max-width: 1400px) {
    .square {
        left: 40px;
    }
    #welcome-section {
        height: 120vh;
    }
}
@media (max-width: 1200px) {
    .visual {
        margin-right: 6vw;
    }
    #welcome-section {
        height: 130vh;
    }
    .saludo {
        margin-left: 1vw;
    }
    h1 {
        font-size: 2.7rem;
    }
}
@media (max-width: 1100px) {
    .square {
        left: -20px;
    }
    #welcome-section {
        height: 150vh;
    }
}
@media (min-width: 2100px) {
    .info {
        justify-content: center;
    }
}

@keyframes intermitent {
    0% {
        background-color: var(--lighter-red);
    }
    
    50% {
        background-color: var(--red-wine);
    }
}

.square2 {
    height: 85px;
    width: 56px;
    position: absolute;
    top: 100px;
    right: 610px;
    animation: intermitent 0.8s infinite 
}
.rectangle {
    height: 550px;
    width:250px;
    position: absolute;
    top: 20px;
    right: 40px;
    
}
.marco {
    width: 480px;
    height: 250px;
    border: 3.4px solid #fff;
    position: absolute;
    top: 70px;
    right: 80px;
    
}
.nombre {
    color: #fff;
    font-family: "Londrina Sketch", sans-serif;
    font-size: 220px;
    position: relative;
    top: -182px;    
    font-weight: 100;
    letter-spacing: 60px;
    left: 37px;
}

.image-container {
    width: 600px;
    height: 600px;   
    position: absolute;
    right: 60px   ;
    top: 20px; 
    background: url(https://static.vecteezy.com/system/resources/thumbnails/026/497/734/small_2x/businessman-on-isolated-png.png) no-repeat 50%  / 95%;
}

